<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="styles.css">
<title>Insert title here</title>
</head>
<body>
	<div class="container" id="clanarina">
		
		<h1 class="title">Membership</h1>
		<label><a href="sportObjects.html">Pocetna</a></label>
		
		<form @submit='platiClanarinu' class="registartion-form">
			<table>
				<tr>
					<td>
						ID
					</td>
					<td>
						<input
						v-model="clanarina.id" type="text" name="name"
						disabled>
					</td>
				</tr>

				<tr>
					<td>
						Tip clanarine:
					</td>
					<td>
						<input
						v-model="clanarina.tipClanarine" type="text" name="name"
						disabled>
					</td>
				</tr>

				<tr>
					<td>
						Cena:
					</td>
					<td>
						<input
						v-model="clanarina.punaCena" type="text" name="surname" disabled>
					</td>
				</tr>

				<tr>
					<td>
						Datum placanja:
					</td>
					<td>
						<input
						v-model="clanarina.datumPlacanja" type="date" name="birthday"
						disabled>
					</td>
				</tr>

				<tr>
					<td>
						Pocetak vazenja:
					</td>
					<td>
						<input
						v-model="clanarina.pocetniDatumVazenja" type="date" v-bind:min="min" name="birthday" required>
					</td>
				</tr>

				<tr>
					<td>

					</td>
					<td>
						<input type="submit" value="Plati" class="submit">
					</td>
				</tr>
			</table>
		</form>

	</div>


	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="js/clanarina.js"></script>
</body>
</html>