<!DOCTYPE html>
<html>
<head>
<title>Novi sportski objekat</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
	<p style="text-align: right;">
		<a href="sportObjects.html">Pocetna</a>
	</p>
	<div id="noviSportskiObjekat">
		<form  @submit='createSportskiObjekat'>
			<table>
				<tr>
					<td>Ime:</td>
					<td><input type="text" name="ime"
						v-model="noviSportskiObjekat.ime"></td>
				</tr>
				<tr>
					<td>Tip objekta:</td>
					<td><select name="tipObjekta" id="tipObjekta"
						v-model="noviSportskiObjekat.tipObjekta">
							<option value="teretana">Teretana</option>
							<option value="bazen">Bazen</option>
							<option value="sportski centar">Sportski centar</option>
							<option value="plesni studio">Plesni studio</option>
							<option value="fitnes centar">Fitnes centar</option>
							<option value="fudbalski teren">Fudbalski teren</option>
							<option value="kosarkaski teren">Kosarkaski teren</option>
					</select></td>
				</tr>
				<tr>
					<td>Geografska sirina:</td>
					<td><input type="number" name="geografskaSirina1"
						v-model="novaLokacija.geografskaSirina"></td>
				</tr>
				<tr>
					<td>Geografska duzina:</td>
					<td><input type="number" name="geografskaDuzina1"
						v-model="novaLokacija.geografskaDuzina"></td>
				</tr>
				<tr>
					<td>Ulica:</td>
					<td><input type="text" name="ulica"
						v-model="novaLokacija.ulica"></td>
				</tr>
				<tr>
					<td>Broj:</td>
					<td><input type="text" name="broj" v-model="novaLokacija.broj"></td>
				</tr>

				<tr>
					<td>Mesto:</td>
					<td><input type="text" name="mesto"
						v-model="novaLokacija.mesto"></td>
				</tr>

				<tr>
					<td>Postanski broj:</td>
					<td><input type="text" name="postanskiBroj"
						v-model="novaLokacija.postanskiBroj"></td>
				</tr>

				<tr>
					<td>Pocetak radnog vremena:</td>
					<td><input type="time" name="pocetakRadnogVremena"
						v-model="noviSportskiObjekat.pocetakRadnogVremena"></td>
				</tr>

				<tr>
					<td>Kraj radnog vremena:</td>
					<td><input type="time" name="krajRadnogVremena"
						v-model="noviSportskiObjekat.krajRadnogVremena"></td>
				</tr>
				
				<tr>
					<td>Logo:</td>
					<td><input type="file"
								accept="image/*" @change="uploadImage($event)">
</td>
				</tr>

				<tr>
					<td>Menadzer:</td>
					<td><select v-model="izabraniMenadzer" v-bind:hidden="slobodniMenadzeri === null || slobodniMenadzeri.length == 0">
							<option v-for="sm in slobodniMenadzeri" :value="sm">{{sm.ime}}
								{{sm.prezime}} {{sm.korisnickoIme}}</option>
					</select>
					<div class="button1"
							v-bind:hidden="slobodniMenadzeri !== null && slobodniMenadzeri.length != 0"
							v-on:click="showForm()">
							<button type="button">Registruj menadzera</button>
					</div>
					
					</td>
				</tr>
				<tr>
					<td><input type="submit" value="Kreiraj"></td>
				</tr>
			</table>
			
			<p id="error">{{error}}</p>
		</form>

		<div class="input-box" v-bind:hidden="prikaziFormu == false">

			<div class="input-box">
				<span class="details">Ime</span> <input v-model="izabraniMenadzer.ime" type="text" name="ime">
			</div>

			<div class="input-box">
				<span class="details">Prezime</span> <input v-model="izabraniMenadzer.prezime" type="text"
					name="prezime">
			</div>

			<div class="input-box">
				<span class="details">Datum rodjenja</span> <input v-model="izabraniMenadzer.datumRodjenja" type="date"
					name="datumRodjenja">
			</div>


			<div class="input-box">
				<span class="details">Pol</span> 
				<input type="radio" id="muski" name="pol"
						value="muski pol" v-model="izabraniMenadzer.pol"> <label
						for="muski">Muski</label> <input type="radio" id="zenski"
						name="pol" value="zenski pol" v-model="izabraniMenadzer.pol">
						<label for="zenski">Zenski</label>
			</div>

			<div class="input-box">
				<span class="details">Korisnicko ime</span> <input v-model="izabraniMenadzer.korisnickoIme" type="text"
					name="korisnickoIme">
			</div>

			<div class="input-box">
				<span class="details">Sifra</span> <input v-model="izabraniMenadzer.sifra" type="password"
					name="password">
			</div>

			<div class="button">
				<button type="button" v-on:click="createUser">Reigistruj</button>
			</div>


		</div>
	</div>


	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="js/noviSportskiObjekat.js"></script>
</body>
</html>